<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nexus.commons.def.mapper.ChatRoomSettingsDefaultMapper">
  <resultMap id="BaseResultMap" type="kr.or.nexus.vo.def.ChatRoomSettingsDefaultVO">
    <id column="CHAT_SETTINGS_ID" jdbcType="VARCHAR" property="chatSettingsId" />
    <result column="CHAT_COLOR" jdbcType="VARCHAR" property="chatColor" />
    <result column="CHAT_FONT" jdbcType="VARCHAR" property="chatFont" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CHAT_ROOM_SETTINGS
    where CHAT_SETTINGS_ID = #{chatSettingsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.or.nexus.vo.def.ChatRoomSettingsDefaultVO">
    insert into CHAT_ROOM_SETTINGS (CHAT_SETTINGS_ID, CHAT_COLOR, CHAT_FONT
      )
    values (#{chatSettingsId,jdbcType=VARCHAR}, #{chatColor,jdbcType=VARCHAR}, #{chatFont,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="kr.or.nexus.vo.def.ChatRoomSettingsDefaultVO">
    update CHAT_ROOM_SETTINGS
    set CHAT_COLOR = #{chatColor,jdbcType=VARCHAR},
      CHAT_FONT = #{chatFont,jdbcType=VARCHAR}
    where CHAT_SETTINGS_ID = #{chatSettingsId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select CHAT_SETTINGS_ID, CHAT_COLOR, CHAT_FONT
    from CHAT_ROOM_SETTINGS
    where CHAT_SETTINGS_ID = #{chatSettingsId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CHAT_SETTINGS_ID, CHAT_COLOR, CHAT_FONT
    from CHAT_ROOM_SETTINGS
  </select>
</mapper>