<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nexus.commons.def.mapper.CloudFolderDefaultMapper">
  <resultMap id="BaseResultMap" type="kr.or.nexus.vo.def.CloudFolderDefaultVO">
    <id column="CLOUD_FOLDER_ID" jdbcType="VARCHAR" property="cloudFolderId" />
    <id column="CLOUD_ID" jdbcType="VARCHAR" property="cloudId" />
    <id column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="CLOUD_FOLDER_NAME" jdbcType="VARCHAR" property="cloudFolderName" />
    <result column="CLOUD_FOLDER_CR_DATE" jdbcType="TIMESTAMP" property="cloudFolderCrDate" />
    <result column="CLOUD_FOLDER_DELYN" jdbcType="VARCHAR" property="cloudFolderDelyn" />
    <result column="CLOUD_FOLDER_CREATOR" jdbcType="VARCHAR" property="cloudFolderCreator" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from CLOUD_FOLDER
    where CLOUD_FOLDER_ID = #{cloudFolderId,jdbcType=VARCHAR}
      and CLOUD_ID = #{cloudId,jdbcType=VARCHAR}
      and PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.or.nexus.vo.def.CloudFolderDefaultVO">
    insert into CLOUD_FOLDER (CLOUD_FOLDER_ID, CLOUD_ID, PROJECT_ID, 
      CLOUD_FOLDER_NAME, CLOUD_FOLDER_CR_DATE, CLOUD_FOLDER_DELYN, 
      CLOUD_FOLDER_CREATOR)
    values (#{cloudFolderId,jdbcType=VARCHAR}, #{cloudId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{cloudFolderName,jdbcType=VARCHAR}, #{cloudFolderCrDate,jdbcType=TIMESTAMP}, #{cloudFolderDelyn,jdbcType=VARCHAR}, 
      #{cloudFolderCreator,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="kr.or.nexus.vo.def.CloudFolderDefaultVO">
    update CLOUD_FOLDER
    set CLOUD_FOLDER_NAME = #{cloudFolderName,jdbcType=VARCHAR},
      CLOUD_FOLDER_CR_DATE = #{cloudFolderCrDate,jdbcType=TIMESTAMP},
      CLOUD_FOLDER_DELYN = #{cloudFolderDelyn,jdbcType=VARCHAR},
      CLOUD_FOLDER_CREATOR = #{cloudFolderCreator,jdbcType=VARCHAR}
    where CLOUD_FOLDER_ID = #{cloudFolderId,jdbcType=VARCHAR}
      and CLOUD_ID = #{cloudId,jdbcType=VARCHAR}
      and PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select CLOUD_FOLDER_ID, CLOUD_ID, PROJECT_ID, CLOUD_FOLDER_NAME, CLOUD_FOLDER_CR_DATE, 
    CLOUD_FOLDER_DELYN, CLOUD_FOLDER_CREATOR
    from CLOUD_FOLDER
    where CLOUD_FOLDER_ID = #{cloudFolderId,jdbcType=VARCHAR}
      and CLOUD_ID = #{cloudId,jdbcType=VARCHAR}
      and PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CLOUD_FOLDER_ID, CLOUD_ID, PROJECT_ID, CLOUD_FOLDER_NAME, CLOUD_FOLDER_CR_DATE, 
    CLOUD_FOLDER_DELYN, CLOUD_FOLDER_CREATOR
    from CLOUD_FOLDER
  </select>
</mapper>