<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nexus.commons.def.mapper.MemberManagementDefaultMapper">
  <resultMap id="BaseResultMap" type="kr.or.nexus.vo.def.MemberManagementDefaultVO">
    <id column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="MEMBER_PW" jdbcType="VARCHAR" property="memberPw" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="MEMBER_REGNO1" jdbcType="NUMERIC" property="memberRegno1" />
    <result column="MEMBER_REGNO2" jdbcType="NUMERIC" property="memberRegno2" />
    <result column="MEMBER_ZIP" jdbcType="NUMERIC" property="memberZip" />
    <result column="MEMBER_ADDRESS_1" jdbcType="VARCHAR" property="memberAddress1" />
    <result column="MEMBER_ADDRESS_2" jdbcType="VARCHAR" property="memberAddress2" />
    <result column="MEMBER_TEL" jdbcType="VARCHAR" property="memberTel" />
    <result column="MEMBER_EMAIL" jdbcType="VARCHAR" property="memberEmail" />
    <result column="MEMBER_PROFILE_PICT" jdbcType="VARCHAR" property="memberProfilePict" />
    <result column="MEMBER_DESCRIPTION" jdbcType="VARCHAR" property="memberDescription" />
    <result column="MEMBER_AUTH_QUESTION" jdbcType="VARCHAR" property="memberAuthQuestion" />
    <result column="MEMBER_AUTH_RESPONSE" jdbcType="VARCHAR" property="memberAuthResponse" />
    <result column="MEMBER_DELYN" jdbcType="VARCHAR" property="memberDelyn" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MEMBER_MANAGEMENT
    where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.or.nexus.vo.def.MemberManagementDefaultVO">
    insert into MEMBER_MANAGEMENT (MEMBER_ID, MEMBER_PW, MEMBER_NAME, 
      MEMBER_REGNO1, MEMBER_REGNO2, MEMBER_ZIP, 
      MEMBER_ADDRESS_1, MEMBER_ADDRESS_2, MEMBER_TEL, 
      MEMBER_EMAIL, MEMBER_PROFILE_PICT, MEMBER_DESCRIPTION, 
      MEMBER_AUTH_QUESTION, MEMBER_AUTH_RESPONSE, 
      MEMBER_DELYN)
    values (#{memberId,jdbcType=VARCHAR}, #{memberPw,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, 
      #{memberRegno1,jdbcType=NUMERIC}, #{memberRegno2,jdbcType=NUMERIC}, #{memberZip,jdbcType=NUMERIC}, 
      #{memberAddress1,jdbcType=VARCHAR}, #{memberAddress2,jdbcType=VARCHAR}, #{memberTel,jdbcType=VARCHAR}, 
      #{memberEmail,jdbcType=VARCHAR}, #{memberProfilePict,jdbcType=VARCHAR}, #{memberDescription,jdbcType=VARCHAR}, 
      #{memberAuthQuestion,jdbcType=VARCHAR}, #{memberAuthResponse,jdbcType=VARCHAR}, 
      #{memberDelyn,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="kr.or.nexus.vo.def.MemberManagementDefaultVO">
    update MEMBER_MANAGEMENT
    set MEMBER_PW = #{memberPw,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      MEMBER_REGNO1 = #{memberRegno1,jdbcType=NUMERIC},
      MEMBER_REGNO2 = #{memberRegno2,jdbcType=NUMERIC},
      MEMBER_ZIP = #{memberZip,jdbcType=NUMERIC},
      MEMBER_ADDRESS_1 = #{memberAddress1,jdbcType=VARCHAR},
      MEMBER_ADDRESS_2 = #{memberAddress2,jdbcType=VARCHAR},
      MEMBER_TEL = #{memberTel,jdbcType=VARCHAR},
      MEMBER_EMAIL = #{memberEmail,jdbcType=VARCHAR},
      MEMBER_PROFILE_PICT = #{memberProfilePict,jdbcType=VARCHAR},
      MEMBER_DESCRIPTION = #{memberDescription,jdbcType=VARCHAR},
      MEMBER_AUTH_QUESTION = #{memberAuthQuestion,jdbcType=VARCHAR},
      MEMBER_AUTH_RESPONSE = #{memberAuthResponse,jdbcType=VARCHAR},
      MEMBER_DELYN = #{memberDelyn,jdbcType=VARCHAR}
    where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="MemberManagementVO">
    select MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_REGNO1, MEMBER_REGNO2, MEMBER_ZIP, 
    MEMBER_ADDRESS_1, MEMBER_ADDRESS_2, MEMBER_TEL, MEMBER_EMAIL, MEMBER_PROFILE_PICT, 
    MEMBER_DESCRIPTION, MEMBER_AUTH_QUESTION, MEMBER_AUTH_RESPONSE, MEMBER_DELYN, MEMBER_ROLE, MEMBER_JOIN_DATE
    from MEMBER_MANAGEMENT
    where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultType="MemberManagementVO">
    select MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_REGNO1, MEMBER_REGNO2, MEMBER_ZIP, 
    MEMBER_ADDRESS_1, MEMBER_ADDRESS_2, MEMBER_TEL, MEMBER_EMAIL, MEMBER_PROFILE_PICT, 
    MEMBER_DESCRIPTION, MEMBER_AUTH_QUESTION, MEMBER_AUTH_RESPONSE, MEMBER_DELYN, MEMBER_ROLE, MEMBER_JOIN_DATE
    from MEMBER_MANAGEMENT
    where MEMBER_EMAIL = #{memberEmail,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_REGNO1, MEMBER_REGNO2, MEMBER_ZIP, 
    MEMBER_ADDRESS_1, MEMBER_ADDRESS_2, MEMBER_TEL, MEMBER_EMAIL, MEMBER_PROFILE_PICT, 
    MEMBER_DESCRIPTION, MEMBER_AUTH_QUESTION, MEMBER_AUTH_RESPONSE, MEMBER_DELYN
    from MEMBER_MANAGEMENT
  </select>
</mapper>